
.page50 > table{
    border: 1px solid;
    border-collapse: collapse;
}

.page50 td,th{
    border: 1px solid;
    margin: auto;
    text-align: center;
    white-space: nowrap;
}

.table_header > tr > th{
    font-size: 2rem;
}

.table_footer > tbody tr:nth-last-of-type(2) td{
    border: none;
    line-height: 3.5;
}

.table_footer > tbody tr:nth-last-of-type(1) td{
    border: none;
}

td{
    font-size: 16px;
}
